[filesystem]
data = /data
logs = /data/logs
media = /public/media
static = /pretalx/src/static.dist

[site]
debug = False
url = ${site_url}

[database]
backend = postgresql
name = ${db_name}
user = ${db_user}
password = ${db_password}
host = ${db_host}
port = 5432

[mail]
from = ${smtp_from}
host = ${smtp_host}
port = ${smtp_port}
user = ${smtp_user}
password = ${smtp_password}
tls = ${smtp_tls}

[redis]
location = rediss://:${redis_auth_token}@${redis_host}:6379/0
sessions = true

[celery]
backend = rediss://:${redis_auth_token}@${redis_host}:6379/1?ssl_cert_reqs=required
broker = rediss://:${redis_auth_token}@${redis_host}:6379/2?ssl_cert_reqs=required
%{ if pretix_sso != null ~}

[plugin:pretalx_pretix_sso]
issuer = ${pretix_sso.issuer}
client_id = ${pretix_sso.client_id}
client_secret = ${pretix_sso.client_secret}
%{ if pretix_sso.api_token != "" ~}
api_token = ${pretix_sso.api_token}
%{ endif ~}
%{ if pretix_sso.event_map != "" ~}
event_map = ${pretix_sso.event_map}
%{ endif ~}
%{ endif ~}
%{ if extra_config != "" ~}

${extra_config}
%{ endif ~}